.sidebar {
    background-color: #ffffff;
    width: 70%;
    /* display: none; */
    height: 100vh;
    position: absolute;
        top: 0px;
        transform: translate3d(-101%, 0, 0);
    transition: all 0.4s ease-in-out;
}

@media (min-width: 550px) {
    .sidebar {
        width: 40%;
        z-index: 1;
    }
}

@media (min-width: 1000px) {
    .sidebar {
        width: 30%;
    }
}
.sidebar--open {
    transform: translateX(0);
}