.sidebar {
    background-color: #ffffff;
    width: 70%;
    /* display: none; */
    height: 100vh;
    position: relative;
    top: -45px;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.4s;
}

.sidebar--open {
    transform: translateX(0);
}